* {
    margin: 0;
    padding: 0;
}
:root{
    font-size: 18px;
}
h1{
	font-size: 3rem;
	font-family: fuenteH1;
}
h2{
	font-size: 2rem;
	font-family: fuenteH2;
}
h3{
	font-size: 1.8rem;
	font-family: fuenteH3H4;
}
h4{
	font-size: 1.6rem;
	font-family: fuenteH3H4;
}
h5{
	font-size: 1.4rem;
	font-family: fuenteH5H6;
}
h6{
	font-size: 1.2rem;
	font-family: fuenteH5H6;
}
p{
	font-size: 1rem;
	font-family: fuentetexto;
}
@font-face {
	font-family: fuenteLink;
	src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
	font-family: fuenteH1;
	src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
	font-family: fuenteH2;
	src: url(fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
	font-family: fuenteH3H4;
	src: url(fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
	font-family: fuenteH5H6;
	src: url(fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
	font-family: fuentetexto;
	src: url(fonts/Nunito-VariableFont_wght.ttf);
}

.home-background{
    background: url(media/fondobh.jpg) left;
    background-size: cover;
}
.home-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(128, 0, 128, 0.3), transparent);
    mix-blend-mode: screen; /* Hace que se mezcle con la imagen */
    pointer-events: none;
}
.home-todo{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-content{
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: white;
}
.home-content h1,.home-content h5, .home-content p{
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
.home-content h1{
    font-size: 2.2rem;
    transition: 0.3s ease-in-out;
}
.home-content h5{
    color: rgb(231, 184, 27);
}
.home-content p{
    width: 53%;
    text-align: justify;
}
.home-content a{
    background-color: #6205B9;
    padding: 15px 25px;
    font-family: fuenteLink;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s ease-in;
}
.home-content a:hover{
    transform: scale(1.05) !important;
    background-color: #7f39c0;
    box-shadow: 0 0 10px rgba(128, 0, 128, 0.8);
}
.title-glow:hover {
    text-shadow: 0 0 10px rgba(240, 222, 120, 0.8);
}
.fondo-paginas{
    background: url(media/fondo2.jpg);
    background-size: cover;
}
.contenedor-todo, .contenedor-todo2{
    width: 100%;
    height: auto;
}
.section1{
    width: 97%;
    padding: 20px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}
.section1-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.section1-subtitle{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.section1-subtitle h2{
    white-space: nowrap;
}
.section1-content{
    width: 86%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.section2{
    width: 100%;
    margin-top: 30px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}
.section2-all{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section2-column1{
    width: 60%;
    height: 100%;
    padding: 0 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.section2-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}
.circulo-color{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
    border: none;
}
.section2-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}
.section2-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 25px;
}
.section2-column2{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section2-image {
    position: relative;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section2-image img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease-in-out;
}
.image-default {
    position: relative;
    display: block;
}
.image-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.overlay-text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 10px;
    border-radius: 5px;
}
.overlay-text h6{
    margin-bottom: 12px;
}
.overlay-text p{
    margin-bottom: 8px;
}
.section2-image:hover .image-default {
    opacity: 0;
}
.section2-image:hover .image-hover {
    opacity: 1;
}
.section2-image:hover .overlay-text {
    opacity: 1;
}
.contenedor-circulos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.linea{
    height: 5px;
    background-color: #cecece;
	margin: 0 auto;
    z-index: 1000;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: white; 
}
#linea2{
    width: 100%;
    padding: 0;
    margin: 0;
}
#linea1{
    width: 100%;
    padding: 0;
    margin: 0;
}
.cursorpoint{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    opacity: 50%;
    gap: 5px;
}
.cursorpoint img{
    width: 15px;
    height: auto;
}
#color1{
    background-color: #6205B9;
}
#color2{
    background-color: #000f38;
}
#color3{
    background-color: #2129a0;
}
#color4{
    background-color: #fa8313;
}
#color5{
    background-color: #F2DB18;
}
#color6{
    background-color: #a36d08;
}
#color7{
    background-color: #f5a7f1;
}
#color8{
    background-color: #e283ff;
}
#color9{
    background-color: #fda32c;
}
#color10{
    background-color: #000000;
}
#color11{
    background-color: #161616;
}
#color12{
    background-color: #d39000;
}
#color13{
    background-color: #b9ebac;
}
#color14{
    background-color: #387A3D;
}
#color15{
    background-color: #FFEFBC;
}
.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease-out forwards;
    animation-delay: 1.8s;
}
.titulo {
    width: 100%; 
    display: flex; 
    align-items: start;
    justify-content: start;
    position: relative;
}
.titulo h1 {
    font-family: fuenteH1;
    position: relative;
}
  
.titulo h1:after {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0;
    content: "";
    line-height: 48px; 
    animation: abomination1 1.5s linear 1;
    animation-fill-mode: forwards;
}
  
    @keyframes abomination1 {
    0% { content: "G"; }
    5% { content: "Go"; }
    10% { content: "Gon"; }
    15% { content: "Gonz"; }
    20% { content: "Gonza"; }
    25% { content: "Gonzal"; }
    30% { content: "Gonzalo"; }
    35% { content: "Gonzalo "; }
    40% { content: "Gonzalo G"; }
    45% { content: "Gonzalo Gu"; }
    50% { content: "Gonzalo Gui"; }
    55% { content: "Gonzalo Guil"; }
    60% { content: "Gonzalo Guill"; }
    62% { content: "Gonzalo Guille"; }
    64% { content: "Gonzalo Guiller"; }
    66% { content: "Gonzalo Guillerm"; }
    68% { content: "Gonzalo Guillermo"; }
    70% { content: "Gonzalo Guillermo "; }
    72% { content: "Gonzalo Guillermo Á"; }
    74% { content: "Gonzalo Guillermo Ál"; }
    76% { content: "Gonzalo Guillermo Álv"; }
    78% { content: "Gonzalo Guillermo Álva"; }
    80% { content: "Gonzalo Guillermo Álvar"; }
    82% { content: "Gonzalo Guillermo Álvaro"; }
    84% { content: "Gonzalo Guillermo Álvaro "; }
    86% { content: "Gonzalo Guillermo Álvaro S"; }
    88% { content: "Gonzalo Guillermo Álvaro Su"; }
    90% { content: "Gonzalo Guillermo Álvaro Suá"; }
    92% { content: "Gonzalo Guillermo Álvaro Suár"; }
    94% { content: "Gonzalo Guillermo Álvaro Suáre"; }
    96% { content: "Gonzalo Guillermo Álvaro Suárez"; }
    100% { content: "Gonzalo Guillermo Álvaro Suárez"; }
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.boton-regreso{
    width: 30%;
    padding: 20px;
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: start;
}
.boton-regreso img{
    width: 22px;
    height: auto;
}
.boton-principal{
    padding: 10px 20px;
    color: white;
    background-color: #6205B9;
    text-align: center;
    font-family: fuenteLink;
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.botonregreso{
    padding: 12px 12px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6205B9;
    text-align: center;
    font-family: fuenteLink;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.8s;
}
.botonregreso:hover{
    transform: scale(1.05);
    background-color: #905bc2;
}



@media (max-width: 430px) {

    .home-content {
        align-items: center;
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
    .home-content h1{
        font-size: 1.8rem;
    }
    .home-content p {
        width: 100%;
        text-align: justify;
    }
}
@media (min-width: 320px) and (max-width: 350px) {
    .home-todo{
        height: 148vh;
    }
}

@media (min-width: 375px) and (max-width: 430px) {
    .home-todo{
        height: 120vh;
    }
}

@media (min-width: 540px) and (max-width: 850px) {
    .home-todo{
        min-height: 120vh;
    }
    .home-content {
        align-items: center;
        text-align: center;
    }
    .titulo{
        align-items: center;
        justify-content: center;
    }
    .home-content p {
        width: 70%;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .home-todo{
        min-height: 100vh;
    }
    .home-content p {
        width: 58%;
    }
}

@media (min-width: 1440px) and (max-width: 1920px) {
    .home-todo{
        min-height: 100vh;
    }
    .home-content h1{
        font-size: 3rem;
    }
    .home-content h5{
        font-size: 2rem;
    }
    .home-content p {
        width: 58%;
        font-size: 1.5rem;
    }
    .boton-principal{
        padding: 20px 30px !important;
        font-size: 1.3rem !important;
    }
}



@media (max-width: 430px) {
    .section1{
        width: 100%;
        padding-top: 0;
        box-sizing: border-box;
    }
    .fondo-paginas{
        width: 100%;
    }
    .contenedor-todo {
        width: 95%;
        margin: 0 auto;
    }
    .section1-content {
        width: 100%;
        text-align: justify;
        text-align-last: center;
    }
    .section1-title h1{
        font-size: 2.2rem;
    }
    .boton-regreso{
        align-items: center;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }
}

@media (min-width: 540px) and (max-width: 850px) {
    .contenedor-todo {
        width: 90%;
        margin: 0 auto;
    }
    .section1-content {
        width: 90%;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .contenedor-todo {
        max-width: 85%;
        margin: 0 auto;
    }
    .section1 {
        width: 90%;
    }
    .section1-content {
        width: 80%;
    }
}

@media (min-width: 1440px) and (max-width: 1920px) {
    .contenedor-todo {
        max-width: 80%;
        margin: 0 auto;
    }
    .section1 {
        width: 85%;
    }
    .section1-content {
        width: 100%;
    }
    .section1-content p{
        font-size: 1.4rem;
    }
    .section1-title h1{
        font-size: 3.5rem;
    }
}

@media (max-width: 430px) {
    .section2-all {
        flex-direction: column;
        align-items: center;
    }
    .section2-column1, .section2-column2 {
        box-sizing: border-box;
        width: 100%;
        padding: 0 20px;
    }
    .section2-title{
        flex-direction: column;
        text-align: center;
    }
    .section2-content p{
        text-align-last: center;
    }
    .section2-buttons {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
    }
    .section2-image {
        width: 100%;
    }
    .cursorpoint{
        align-items: center;
        justify-content: center;
    }
    .overlay-text p{
        font-size: 14px;
    }
}

@media (min-width: 540px) and (max-width: 850px) {
    .section2-all {
        flex-direction: column;
        align-items: center;
    }
    .section2-column1, .section2-column2 {
        width: 90%;
    }
    .section2-buttons {
        flex-direction: column;
        margin-bottom: 25px;
    }
    .section2-image {
        width: 80%;
    }
    .overlay-text h6{
        font-size: 24px;
    }
    .overlay-text p{
        font-size: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px), (min-width: 1440px) and (max-width: 1920px) {
    .section2-all {
        flex-direction: row;
        justify-content: space-between;
    }
    .section2-column1 {
        width: 60%;
    }
    .section2-column2 {
        width: 40%;
    }
    .section2-image {
        width: 90%;
    }
}

@media (min-width: 1440px) and (max-width: 1920px) {
    .section2-all {
        flex-direction: row;
        justify-content: space-between;
    }
    .section2-column1 {
        width: 60%;
    }
    .section2-column2 {
        width: 40%;
    }
    .section2-image {
        width: 90%;
    }
    .section2-title h3{
        font-size: 35px;
    }
    .section2-content p{
        font-size: 22px;
    }
    .overlay-text h6{
        font-size: 30px;
    }
    .overlay-text p{
        font-size: 24px;
    }
    .cursorpoint p{
        font-size: 20px;
    }
}
